<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input class="form-control" id="id" name="id"
                               th:value="${dict.id}" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">标签名：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="name" name="name"
                                       th:value="${dict.name}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">数据值：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="value" name="value"
                                       th:value="${dict.value}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">类型：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="type" name="type"
                                       th:value="${dict.type}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">描述：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="description"
                                       name="description" th:value="${dict.description}"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="sort" name="sort"
                                       th:value="${dict.sort}" type="text">
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <label class="col-sm-3 control-label ">父级编号：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="parentId"
                                       name="parentId" th:value="${dict.parentId}"
                                       type="text">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注信息：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="remarks"
                                       name="remarks" th:value="${dict.remarks}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/appjs/common/dict/edit.js" type="text/javascript">
</script>
</body>
</html>
