<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div class="col-sm-12">
                        <h4>发布文章</h4>
                    </div>
                    <form class="form-horizontal m-t" id="signupForm">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">标题：</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="title" name="title" type="text">
                            </div>
                            <label class="col-sm-1 control-label">作者：</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="author" name="author"
                                       type="text">
                            </div>
                        </div>
                        <input class="form-control" id="created" name="created"
                               type="hidden"> <input class="form-control" id="ownerId"
                                                     name="ownerId" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">邮箱：</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="email" name="email" type="text">
                            </div>
                            <label class="col-sm-1 control-label">链接地址：</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="url" name="url" type="text">
                            </div>
                        </div>
                        <input class="form-control" id="ip" name="ip" type="hidden">
                        <input class="form-control" id="agent" name="agent" type="hidden">
                        <div class="form-group">
                            <input id="content" name="content" type="hidden"> <label
                                class="col-sm-1 control-label">内容：</label>
                            <div class="col-sm-11">
                                <div class="ibox-content no-padding">
                                    <div class="summernote" id="content_sn"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-sm-1 control-label">类型：</label>
                            <div class="col-sm-11">
                                <input class="form-control" id="type" name="type" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">开启评论：</label>
                            <div class="switch onoffswitch col-sm-1">
                                <div class="onoffswitch">
                                    <input checked="" class="onoffswitch-checkbox" id="example1"
                                           type="checkbox"> <label class="onoffswitch-label"
                                                                   for="example1"> <span
                                        class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                                </div>
                            </div>

                            <label class="col-sm-2 control-label">允许订阅：</label>
                            <div class="switch onoffswitch col-sm-2">
                                <div class="onoffswitch">
                                    <input checked="" class="onoffswitch-checkbox" id="example3"
                                           type="checkbox"> <label class="onoffswitch-label"
                                                                   for="example3"> <span
                                        class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                                </div>
                            </div>
                        </div>

                        <input class="form-control" id="parent" name="parent"
                               type="hidden">
                        <div class="text-right form-group">
                            <a class="btn btn-default waves-effect waves-light"
                               href="/admin/article">返回列表</a>
                            <button class="btn btn-primary waves-effect waves-light"
                                    onclick="save()"
                                    type="button">保存文章
                            </button>
                            <button class="btn btn-warning waves-effect waves-light"
                                    onclick="subArticle('draft');"
                                    type="button">存为草稿
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="include::footer"></div>

<script src="/js/appjs/blog/bComments/add.js" type="text/javascript">

</script>
</body>
</html>
