<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input class="hidden" id="deptId" name="deptId"
                               th:value="${sysDept.deptId}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label ">上级部门：</label>
                            <div class="col-sm-8">
                                <input class="form-control"
                                       readonly="true" th:value="${parentDeptName}" type="text"/>
                                <input class="form-control hidden" id="parentId" name="parentId"
                                       th:value="${sysDept.parentId}"
                                       type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">部门名称：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="name" name="name"
                                       th:value="${sysDept.name}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="orderNum" name="orderNum"
                                       th:value="${sysDept.orderNum}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态：</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="delFlag" name="delFlag"
                                       th:value="${sysDept.delFlag}" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/appjs/system/sysDept/edit.js" type="text/javascript">
</script>
</body>
</html>
