package

import com.yzy.common.utils.PageUtils;
import com.yzy.common.utils.Query;
import com.yzy.common.utils.ResultDTO;
import org.apache.shiro.authz.annotation.RequiresPermissions;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.ui.Model;
import org.springframework.web.bind.annotation.*;

import java.util.List;
import java.util.Map;

${package}.controller;
    ${package}.domain.${className}DO;
    ${package}.service.${className}Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */

@Controller
@RequestMapping("/${pathName}/${classname}")
public class ${className}Controller {
    @Autowired
    private ${className}Service ${classname}Service;

    @GetMapping()
    @RequiresPermissions("${pathName}:${classname}:${classname}")
    String${className}() {
        return "${pathName}/${classname}/${classname}";
    }

    @ResponseBody
    @GetMapping("/list")
    @RequiresPermissions("${pathName}:${classname}:${classname}")
    public PageUtils list(@RequestParam Map<String, Object> params) {
        //查询列表数据
        Query query = new Query(params);
        List<${className}DO> ${classname}List = ${classname}Service.list(query);
        int total = ${classname}Service.count(query);
        PageUtils pageUtils = new PageUtils(${classname}List, total);
        return pageUtils;
    }

    @GetMapping("/add")
    @RequiresPermissions("${pathName}:${classname}:add")
    String add() {
        return "${pathName}/${classname}/add";
    }

    @GetMapping("/edit/{${pk.attrname}}")
    @RequiresPermissions("${pathName}:${classname}:edit")
    String edit(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}, Model model) {
            ${className}DO ${classname} = ${classname}Service.get(${pk.attrname});
        model.addAttribute("${classname}", ${classname});
        return "${pathName}/${classname}/edit";
    }

    /**
     * 保存
     */
    @ResponseBody
    @PostMapping("/save")
    @RequiresPermissions("${pathName}:${classname}:add")
    public ResultDTO save(${className}DO ${classname}) {
        if (${classname}Service.save(${classname}) > 0) {
            return ResultDTO.ok();
        }
        return ResultDTO.error();
    }

    /**
     * 修改
     */
    @ResponseBody
    @RequestMapping("/update")
    @RequiresPermissions("${pathName}:${classname}:edit")
    public ResultDTO update(${className}DO ${classname}) {
            ${classname}Service.update(${classname});
        return ResultDTO.ok();
    }

    /**
     * 删除
     */
    @PostMapping("/remove")
    @ResponseBody
    @RequiresPermissions("${pathName}:${classname}:remove")
    public ResultDTO remove( ${pk.attrType} ${pk.attrname}) {
        if (${classname}Service.remove(${pk.attrname}) > 0) {
            return ResultDTO.ok();
        }
        return ResultDTO.error();
    }

    /**
     * 删除
     */
    @PostMapping("/batchRemove")
    @ResponseBody
    @RequiresPermissions("${pathName}:${classname}:batchRemove")
    public ResultDTO remove(@RequestParam("ids[]") ${pk.attrType}[]${pk.attrname}s) {
            ${classname}Service.batchRemove(${pk.attrname}s);
        return ResultDTO.ok();
    }

}
